<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Page</title>
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <br>
            <input type="submit" value="Yes" /> <br>
            <a href="/">Cancel </a>
        </form>
    </div>
</body>
</html>