<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebNovel Form</title>
</head>
<body>
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <button onclick="window.location.href='http://127.0.0.1:8000/webnovels/form3';">Add Tag</button>
    <button onclick="window.location.href='http://127.0.0.1:8000/webnovels/form2';">Add Author</button>
{% endblock %}

</body>
</html>